<footer class="page-footer">
  <div class="container valign-wrapper">
    <span style="margin-right: 5px;">
      <b>© 2026 Thomas Cristo</b>
      <span class="hide-on-small-only"> - <a href="mailto:github@cristo1.de">github@cristo1.de</a></span>
      <span class="hide-on-small-only"> <span class="hide-on-med-only">with love from <a href="https://www.openstreetmap.org/search?query=Longmont%2C Colorado" target="_blank">Colorado</a></span> - </span>
      <br class="hide-on-med-and-up">
      If you like this project, support it on
    </span>
    <a class="btn-flat" target="_blank" rel="noreferrer" href="https://github.com/tom71" alt="Support on GitHub">
      <i class="material-icons" style="vertical-align: middle; margin-right: 4px;">favorite</i>
      <span>GitHub</span>
    </a>
    <a href="#!" class="modal-trigger" data-target="about_modal" style="margin-left: 5px"> + details</a>
  </div>
</footer>
    