{% import "layouts/macros.jinja2" as macros %}
{% extends "layouts/base-server.jinja2" %}

{% block content %}
  {% call macros.header(version) %}{% endcall %}
  <main>
    <div class="container">
      <div class="section">
        <div class="row" id="picker_unavailable_card">
          <div class="col s12 m10">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Folder Picker Not Required</span>
                <p>
                  Filen.io mode does not use the legacy browser folder picker flow.
                  Configure your Filen API key in the add-on settings and the add-on
                  will manage backup directories automatically.
                </p>
                <ul class="browser-default">
                  <li>Open add-on settings in Home Assistant.</li>
                  <li>Paste your Filen API key into the Filen credentials field.</li>
                  <li>Save settings and run a sync.</li>
                </ul>
              </div>
              <div class="card-action">
                <a target="_blank" class="btn-flat" href="https://app.filen.io" rel="noreferrer">
                  Open Filen.io
                </a>
                <a target="_blank" class="btn-flat" href="https://github.com/tom71/hassio-filen-drive-backup/blob/master/hassio-filen-drive-backup/AUTHENTICATION.md" rel="noreferrer">
                  Authentication Details
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
